
:root{
    --yellow:#e60d17;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
}

section{
    min-height: 100vh;
    padding:1rem 10%;
    padding-top: 9rem;
}

.btn{
    font-size: 1.7rem;
    padding:.7rem 4rem;
    border-radius: 5rem;
    margin-top: 1rem;
    background:none;
    color: black;
    cursor: pointer;
}

.btn:hover{
    background:var(--yellow);
}

.heading{
    text-align: center;
    font-size: 4rem;
    padding:0 .5rem;
    color:black;
}

.heading span{
    color:var(--yellow);
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    width:100%;
    background:black;
    padding:1.5rem 10%;
    box-shadow: 0 .3rem 2rem rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img{
    height: 70px;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li{
    margin-left: 12%;
}

header .navbar ul li a{
    font-size: 20px;
    color:white;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color: blueviolet;
}

header #menu-bar{
    font-size: 3rem;
    color:#666;
    cursor: pointer;
    display: none;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    overflow: hidden;
}



.home::before{
    top:-7rem;
    background:#fff;
    box-shadow: 0 1rem 4rem rgba(0,0,0,.1);
    z-index: -1;
}

.home .image{
    flex:1 1 39rem;
}

.home .image img{
    width:100%;
}

.home .content{
    flex:1 1 39rem;
}

.home .content h3{
    color: black;
    font-size: 40px;
}

.home .content p{
    color: black;
    font-size: 2rem;
    padding:1rem 0;
}





#food-container{
    background: whitesmoke;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
}
#header{
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    background: whitesmoke;
    z-index: 1;

}

#header .orders{
    font-size: 20px;
}
.your-orders{
    border: 1px solid indianred;
    color: indianred;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    margin-right: 20%;
}
.add-box i{
    font-size: 20px;
}
.util i, .user i{
    font-size: 18px;
    margin: 0 16px;
    border: 1px solid crimson;
    padding: 8px 16px;
    color: crimson;
    border-radius: 20px;
    cursor: pointer;
}
.util i:active,.user i:active{
    color: white;
    background: crimson;
}


.menu .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.menu .row .image{
    margin:2rem;
    padding:2rem;
    flex:1 1 40rem;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    
}

.menu .row .image img{
    width:100%;
    object-fit: cover;
    border-radius: 1rem;
}

.menu .row .content{
    flex:1 1 40rem;
}

.menu .row .content .info{
    padding:1rem 0;
}

.menu .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    color:#333;
}

.menu .row .content .info h3 span{
    padding-right: 1rem;
    color: crimson;
}

.menu .row .content .info p{
    padding:1rem 0;
    padding-left: 4.5rem;
    font-size: 1.5rem;
    color:#666;
}



.speciality .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#rating{
    padding: 7px;
    color: goldenrod;
    background: black;
    font-size: 16px;
    border-radius: 14px; 

}
.fa-heart-o{
    padding: 6px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}
.speciality .box-container .box{
    background:#fff;
    width:35rem;
    padding:2rem;
    margin:2rem;
    border-radius: 1rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.2);
    text-align: center;
}

.speciality .box-container .box img{
    height:20rem;
    width:100%;
    object-fit: cover;
}

.speciality .box-container .box h3{
    color:#333;
    font-size: 3rem;
    font-weight: normal;
}

.speciality .box-container .box .stars i{
    color:var(--yellow);
    font-size: 2rem;
    padding:1rem .1rem;
}

.speciality .box-container .box .price{
    color:#666;
    font-size: 2.5rem;
}

.speciality .box-container .box:hover{
    transform: scale(1.02);
    box-shadow: 0 1rem 1rem rgba(0,0,0,.2);
}

.gallery .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .box-container .box{
    height:20rem;
    width:30rem;
    margin:2rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.gallery .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.gallery .box-container .box h3{
    position: absolute;
    top:100%; left:50%;
    transform: translate(-50%, -50%);
    color:#fff;
    text-align: center;
    font-size: 3rem;
    opacity: 0;
}




.order .row{
    display: flex;
    background:#fff;
    width: 700px;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    border-radius: 1rem;
    justify-content: center;
    margin-left: 18%;
}



.order .row form{
    flex:1 1 60%;
    background:#fff;
    padding:2rem;
}


.contact-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.contact-info {
    color: black;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}

.contact-info i {
    margin-right: 20px;
    font-size: 25px;
}

.contact-form {
    max-width: 700px;
    margin-right: 50px;
}

.contact-info,
.contact-form {
    flex: 1;
}

.contact-form h2 {
    color: #fff;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact-form .text-box {
    background: #000;
    color: #fff;
    border: none;
    width: calc(50%-10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .text-box:first-child {
    margin-right: 15px;
}

.contact-form textarea {
    background: #000;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .send-btn {
    float: left;
    background: #2E94E3;
    color: #fff;
    border: none;
    width: 130px;
    height: 40px;
    padding: 12px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: 0.3s;
}

.contact-form .send-btn:hover {
    background: #0582E3;
}

@media screen and(max-width:1000px) {
    .contact-section {
        flex-direction: column;
        
    }
    .contact-info,
    .contact-form {
        margin: 30px 50px;
    }
    .contact-form h2 {
        font-size: 30px;
    }
    .contact-form .text-box {
        width: 100%;
    }
    .footer {
        width: 100%;
    }
    .contact-form .send-btn {
        float: left;
    }
}

.alert-success {
    z-index: 1;
    background: #D4EDDA;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #3AD66E;
    border-radius: 4px;
}

.alert-error {
    z-index: 1;
    background: #FFF3CD;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #FFA502;
    border-radius: 4px;
}

#checkout{
    text-align: center;
    margin: 40px auto;
    border-radius: 5px;
    background: white;
    padding: 10px 20px;


}
#checkout p{
    margin: 15px 0;
    float: left;
}
#total-price,#total-item,#delivery{
    font-size: 25px;
    color: black;
    margin-left: 10%;
}
.cart-btn{
    outline: none;
    border: none;
    background: crimson;
    color: white;
    padding: 10px 25px;
    font-size: 18px;
    text-transform: uppercase;
    bottom: 30px;
    margin: 15px 0;
    cursor: pointer;
}
.cart-btn:active{
    color: crimson;
    background: none;
    border: 1px solid crimson;
}


.footer{
    background:#282727;
    padding:1rem 7%;
    margin-top: 30px;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 25rem;
    margin:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:#fff;
    padding:1rem 0;
    text-transform: uppercase;
    font-weight: normal;
}

.footer .box-container .box p{
    font-size: 1.7rem;
    color:#eee;
    padding:1rem 0;
}

.footer .box-container .box a{
    font-size: 1.7rem;
    color:#eee;
    padding:1rem 0;
    display: block;
}

.footer .box-container .box a:hover{
    color:var(--yellow);
}

.footer .box-container .box p i{
    padding-right: .5rem;
    color:var(--yellow);
}

.footer .wrapper{
    font-size: 2rem;
    text-align: center;
    border-top: .2rem solid rgba(255,255,255,.7);
    padding:2rem 1rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color:#fff;
}

.footer .wrapper a{
    color:var(--yellow);
}


/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .home::before,
    .home::after{
        display: none;
    }

}

@media (max-width:768px){


    header #menu-bar{
        display: block;
    }

    header .navbar{
        position: fixed;
        top:8rem; left:0;
        width:100%;
        background:var(--yellow);
        border-top: .2rem solid rgba(0,0,0,.1);
        transform:scaleY(0);
        transform-origin: top;
        opacity: 0;
    }

    header .navbar ul{
        flex-flow: column;
        padding:2rem;
    }

    header .navbar ul li{
        margin:1.5rem;
        width: 100%;
    }

    header .navbar ul li a{
        display: block;
        color:#fff;
        padding-left: 2rem;
        border-left: .2rem solid #fff;
        font-size: 2rem;
    }

    header .navbar ul li a:hover,
    header .navbar ul li a.active{
        color:#333;
        border-color: #333;
    }

    .fa-times{
        transform:rotate(180deg);
    }

    header .navbar.nav-toggle{
        transform:scaleY(1);
        opacity: 1;
    }

    .home .content{
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .order .row .image{
        display: none;
    }

}

@media (max-width:500px){

    html{
        font-size: 50%;
    }

    section{
        padding:1rem 5%;
        padding-top: 8.5rem;
    }
}